---

---

<footer class="text-xs flex flex-col md:flex-row justify-between text-center">
  <p class="">Made with 💖 for Coding &amp; Reading</p>
  <p class="personalBrand">
    <a href="https://supersiddy.wordpress.com/"
      ><img
        class="profilePhoto"
        src=`${import.meta.env.BASE_URL}profile-photo-siddhesh.jpg`
        alt="Siddhesh's Profile"
        height="32"
      />Siddhesh Thadeshwar</a
    >
  </p>
</footer>
<style>
  @reference "../styles/global.css";
  .personalBrand {
    @apply flex items-center justify-center;
  }
  .profilePhoto {
    @apply rounded-[16px] mr-3 aspect-square w-4;
  }
  footer a,
  footer a:visited,
  footer a:focus,
  footer a:hover {
    @apply text-(--text);
  }
  .personalBrand > a {
    @apply flex flex-col md:flex-row justify-center items-center;
  }
</style>
