<footer>
  <p class="madeWith">
    Made with 💖 for Coding &amp; Reading<br /><br />
    <span class="extraSmallText"
      >"Exploding Head" Illustration by <a
        href="https://icons8.com/illustrations/author/zD2oqC8lLBBA"
        target="_blank">Icons 8</a
      > from <a href="https://icons8.com/illustrations" target="_blank">Ouch!</a
      ><br />
      "Creative Work", "Engineer", "Podcast Show" & "Youtube Creator" Illustrations
      from <a href="https://popsy.co/illustrations" target="_blank">Popsy.co</a>
    </span>
  </p>
  <p class="personalBrand">
    <a href="https://supersiddy.wordpress.com/"
      ><img
        class="profilePhoto"
        src=`${import.meta.env.BASE_URL}profile-photo-siddhesh.jpg`
        alt="Siddhesh's Profile"
        height="32"
      />Siddhesh Thadeshwar</a
    >
  </p>
</footer>
<style>
  @reference "../styles/global.css";
  footer {
    @apply text-(--white) text-xs flex flex-col md:flex-row gap-4 md:gap-0 text-center md:text-left;
  }
  .madeWith {
    @apply leading-[1.2];
  }
  .personalBrand {
    @apply flex items-center justify-center text-(--white) text-xl;
  }
  .profilePhoto {
    @apply rounded-[16px] mr-3 aspect-square w-8;
  }
  footer a,
  footer a:visited,
  footer a:focus,
  footer a:hover {
    @apply text-(--white);
  }
  .personalBrand > a {
    @apply flex flex-col md:flex-row justify-center items-center;
  }
</style>
