---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex justify-between items-center">
  <a class="group" href="https://djsiddz.github.io/books-for-devs">
    <h3 class="brand text-(--primary)">
      <i class="bi bi-journal-code brandLogo"></i>Books for Devs
    </h3>
  </a>
  <div class="actions">
    <ThemeToggle />
    <a
      class="githubLink"
      href="https://github.com/djsiddz/books-for-devs"
      target="_blank"
      title="View Repo"
      aria-label="View Repo"
    >
      <span class="sr-only">View Repo</span>
      <i aria-label="View GitHub Repo" class="bi bi-github"></i>
    </a>
  </div>
</header>
<style>
  @reference "../styles/global.css";
  .actions {
    @apply flex items-center gap-0 md:gap-2;
  }
  .brand {
    @apply inline-flex items-center m-0 font-bold text-xs md:text-base uppercase;
  }
  .brandLogo {
    @apply mr-3 text-xl transition-[rotate_0.5s,scale_0.25s,color_0.15s];
  }
  .group:hover .brandLogo,
  .githubLink:hover {
    @apply -rotate-15 scale-125 text-(--primary);
  }
  .githubLink {
    @apply text-(--text) px-4 py-2 align-top transition-[rotate_0.25s,scale_0.15s];
  }
</style>
