---
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <a href="https://djsiddz.github.io/books-for-devs">
    <h3 class="brand">
      <i class="bi bi-journal-code brandLogo"></i>Books for Devs
    </h3>
  </a>
  <div class="actions">
    <ThemeToggle />
    <a
      class="githubLink"
      href="https://github.com/djsiddz/books-for-devs"
      target="_blank"
      title="View Repo"
      aria-label="View Repo"
    >
      <span class="sr-only">View Repo</span>
      <i aria-label="View GitHub Repo" class="bi bi-github"></i>
    </a>
  </div>
</header>
<style>
  @reference "../styles/global.css";
  .actions {
    @apply flex items-center gap-2;
  }
  .brand {
    @apply inline-flex items-center m-0 font-bold text-(--primary) uppercase;
  }
  .brandLogo {
    @apply mr-3 text-[1.25em] transition-[rotate_0.5s,scale_0.25s];
  }
  .brandLogo:hover,
  .githubLink:hover {
    @apply -rotate-15 scale-125;
  }
  .githubLink {
    @apply text-(--text) text-2xl px-4 py-2 align-top transition-[rotate_0.5s,scale_0.25s];
  }
</style>
