---
import BlueGradientCard from "../layouts/BlueGradientCard.astro";
---

<BlueGradientCard>
  <h2 class="mb-4">Hi there! 👋</h2>
  <p class="textBalance mb-4">
    A better developer understands the <strong>How</strong>s & <strong
      >Why</strong
    >s, much beyond the documentation.
  </p>
  <ul class="mb-4">
    <li><strong>Why</strong> do we write our code like this?</li>
    <li><strong>How</strong> does X work?</li>
    <li><strong>Why</strong> do we build things in a certain way?</li>
    <li><strong>How</strong> did we reach here?</li>
  </ul>
  <p class="textBalance mb-4">
    These books IMHO, broaden your perspective, imagination, make you think, and
    help you grow as a developer.
  </p>
  <p><strong>Stay curious,</strong><br />Sid :)</p>
</BlueGradientCard>
<style>
  @reference "../styles/global.css";
  strong {
    @apply text-(--highlightText);
  }
  @media screen and (max-width: 450px) {
    ul {
      @apply pl-4;
    }
  }
</style>
