---
import BlueGradientCard from "../layouts/BlueGradientCard.astro";
---

<BlueGradientCard>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col">
      <h2 class="mb-6 font-medium">Thanks for visiting!</h2>
      <div class="text-left inline-block max-w-md mx-auto mb-6 text-xs">
        <p class="mb-2">I’m always open to:</p>
        <ul class="list-disc pl-5">
          <li>Book recommendations</li>
          <li>Conversations on product and design</li>
          <li>Collaborations over interesting problems</li>
        </ul>
      </div>
      <p class="mb-4 text-xs">
        Find me on:
        <span
          class="socialLinks inline-flex gap-4 justify-center ml-4 items-center"
        >
          <a target="_blank" href="https://github.com/djsiddz"
            ><span class="sr-only">Github Profile</span><i
              class="bi bi-github socialIcon"></i></a
          >
          <a target="_blank" href="https://linkedin.com/in/siddheshthadeshwar"
            ><span class="sr-only">LinkedIn</span><i
              class="bi bi-linkedin socialIcon"></i></a
          >
          <a target="_blank" href="https://threads.net/super__siddy"
            ><span class="sr-only">Threads</span><i
              class="bi bi-threads socialIcon"></i></a
          >
          <a target="_blank" href="https://twitter.com/super_siddy"
            ><span class="sr-only">X/Twitter</span><i
              class="bi bi-twitter-x socialIcon"></i></a
          >
        </span>
      </p>
    </div>
  </div>
</BlueGradientCard>
<style>
  @reference "../styles/global.css";
  .socialLinks a {
    @apply text-(--text) transition-[rotate_0.5s,scale_0.25s];
  }
  .socialLinks a:hover {
    @apply -rotate-15 scale-125;
  }
</style>
