<section class="blueGradientCard">
  <slot />
</section>
<style>
  .blueGradientCard {
    background: var(--card-gradient);
    border-radius: 0.4rem;
    border: 1px solid var(--accentLight);
    margin: 1rem 0;
    padding: 1rem;
  }
  .dark .blueGradientCard {
    border: 1px solid var(--primary);
  }
</style>
