<section class="blueGradientCard">
  <slot />
</section>
<style>
  .blueGradientCard {
    background: var(--card-gradient);
    border-radius: 0.4rem;
    border: 1px solid var(--primary);
    font-size: 0.875rem;
    line-height: 1.6;
    margin: 1rem 0;
    padding: 1rem;
  }
</style>
