--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`${import.meta.env.BASE_URL}public/profile-photo-siddhesh.jpg` />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--white: #f6f7f8;
		--bg: #02050a;
		--lightbg: #2f353d;
		--accent: #7c3aed;
		--accent-gradient: linear-gradient(45deg, var(--accent), var(--primary) 60%);
		--primary: #2d2fe9;
		--midprimary: #8398d1;
		--primary-gradient: linear-gradient(60deg, var(--primary) 0%, var(--accent) 29%, rgba(213,195,245,1) 92%, var(--white) 100%);
		/* --primary-alternate-gradient: linear-gradient(60deg, var(--primary) 0%, var(--midprimary) 70%, var(--white) 100%); */
		/* --primary-alternate-gradient: linear-gradient(60deg, var(--primary) 0%, rgb(var(--accent)) 70%, var(--white) 100%); */
		--bg-gradient: linear-gradient(0deg, var(--lightbg), var(--bg) 30%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-image: var(--bg-gradient);
		background-size: 200%;
		background-position: 0%;
		background-size: cover;
		background-repeat: no-repeat;
		color: var(--white);
		min-height: 100vh;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
